{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ album.name }}</h1>

        <a href="{{ path("albums") }}">Albums</a>

        <div>
            {% for image in pagination %}
                <a href="{{ path("image", {slug: image.slug, filename: image.originalFilename}) }}" target="_blank" class="thumbnail image-thumbnail">
                    <img src="{{ path("image", {slug: image.slug, filename: image.originalFilename}) }}">
                </a>
            {% else %}
                <div class="alert alert-info">
                    Album has no images
                </div>
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
